.products-card {
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;

  &-info {
    padding-top: 3em;
    width: 40%;

    .card-title {
      margin-bottom: 0.5em;
      font-size: 2.4em;
      letter-spacing: 0.1em;
      font-weight: 900;
      text-transform: uppercase;
    }

    .card-info-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3em;

      .card-title-line {
        margin-top: 0.5em;
        margin-left: 0.4em;
        border-top: 3px solid $primaryColor;
        width: 25%;
      }

      .card-text {
        width: 70%;
        font-size: 0.9rem;
        font-weight: 600;
        color: $grayColor;
      }
    }

    .rating {
      margin-left: 1em;
      margin-bottom: 0.5em;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 700;

      &-number {
        color: $primaryColor;
        font-weight: 600;
      }
    }
  }

  .products-card-img {
    box-shadow: 0 0 35px $darkColor;
  }
}

.card-two {
  flex-direction: row-reverse;
}

@media (max-width: 1030px) {
  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .products-card {
    width: 80%;
    display: flex;
    flex-direction: column;

    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;

      .card-title {
        text-align: center;
      }

      .card-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-title-line {
          margin: 1em;
        }
      }

      .rating {
        margin-bottom: 2em;
      }
    }
  }
}

@media (max-width: 1030px) {
  .products-card-info {
    .card-title {
      font-size: 2em;
    }
  }
}

@media (max-width: 400px) {
  .products-card-info {
    .card-title {
      font-size: 1.6em;
    }
  }
}
